<p-dialog
  [(visible)]="displayModalRegister"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p-header>
    <img
      class="d-inline-block align-top"
      src="../assets/images/liquidando2.png"
      alt="liquidando logo"
      width="50%"
    />
  </p-header>
  <form [formGroup]="registerForm" class="p-3">
    <div class="form-group mb-3">
      <label for="inputRegisterEmail">Email</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="inputRegisterEmail"
        placeholder="Ingrese su Correo"
      />
    </div>
    <div class="form-group mb-3">
      <label for="inputPasswordRegister">Contraseña</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="inputPasswordRegister"
        placeholder="Ingrese su Contraseña"
      />
    </div>
    <div class="form-group mb-3">
      <label for="inputPasswordConfirmRegister">Re-Contraseña</label>
      <input
        formControlName="passwordConfirm"
        type="password"
        class="form-control"
        id="inputPasswordConfirmRegister"
        placeholder="Confirme su Contraseña"
      />
    </div>
    <div class="form-group mb-3">
      <label for="inputName">Nombre</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="inputName"
        placeholder="Ingrese su Nombre"
      />
    </div>
    <div class="form-group mb-3">
      <label for="typeUser">Planes disponibles</label>
      <select formControlName="typeUser" id="typeUser" class="form-select">
        <option class="option">Prueba</option>
        <option class="option">Basico</option>
        <option class="option">Avanzado</option>
      </select>
    </div>
    <div class="d-flex justify-content-end">
      <button (click)="register()" type="button" class="btn btn-success button-radius">
        Registrarme
      </button>
    </div>
  </form>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
