<p-dialog
  [(visible)]="displayModalLogin"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onHideLogin()"
>
  <p-header>
    <img
      class="d-inline-block align-top"
      src="../assets/images/liquidando2.png"
      alt="liquidando logo"
      width="50%"
    />
  </p-header>
  <form [formGroup]="loginForm" *ngIf="!showForgetPass" class="p-3">
    <div class="form-group mb-3">
      <label for="inputEmailLogin">Email</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="inputEmailLogin"
        placeholder="Ingrese su Correo"
      />
    </div>
    <div class="form-group mb-3">
      <label for="inputPassLogin">Contraseña</label>
      <input
        formControlName="password"
        type="{{ type }}"
        class="form-control"
        id="inputPassLogin"
        placeholder="Ingrese su Contraseña"
      />
    </div>
    <div class="form-check mb-3">
      <input
        (change)="changeShowPass($event)"
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
      />
      <label class="form-check-label" for="exampleCheck1"
        >Mostrar Contraseña</label
      >
    </div>
    <div class="d-flex justify-content-around">
      <a
        *ngIf="showFormForgetPass"
        (click)="showFormForgetPass()"
        class="link-success"
        >Olvidaste tu contraseña?</a
      >
      <button
        (click)="login()"
        type="button"
        class="btn btn-success button-radius"
      >
        Acceder
      </button>
    </div>
  </form>

  <form *ngIf="showForgetPass" class="p-3">
    <div class="form-group mb-3">
      <label for="inputEmailForgetPass">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmailForgetPass"
        placeholder="Ingrese su Correo"
      />
    </div>
    <div class="d-flex justify-content-around">
      <a
        *ngIf="showFormForgetPass"
        (click)="showFormForgetPass()"
        class="link-success"
        >Iniciar session</a
      >
      <button
        (click)="showFormForgetPass()"
        type="submit"
        class="btn btn-success button-radius"
      >
        Continuar
      </button>
    </div>
  </form>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
