<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>Liquide</h5>
      <hr />
    </div>
    <div *ngIf="!showResume" class="col-6">
      <div class="card border-rounded shadow-sm">
        <div class="card-body">
          <p>Calcule el interes de sus procesos y genere reporte</p>
          <form [formGroup]="mainForm" class="mt-3">
            <div class="row">
              <div class="col-6 mb-2">
                <label for="numeroRadico" class="form-label"
                  >Radicado del Proceso
                </label>
                <input
                  formControlName="radicado"
                  type="number"
                  class="form-control"
                  id="numeroRadico"
                  aria-describedby="capital"
                />
              </div>
              <div class="col-6 mb-2">
                <label for="juzgado" class="form-label">Juzgado</label>
                <input
                  formControlName="juzgado"
                  type="text"
                  class="form-control"
                  id="juzgado"
                  aria-describedby="capital"
                />
              </div>
              <div class="col-12">
                <p>Partes</p>
              </div>
              <div class="col-6 mb-2">
                <label for="demandante" class="form-label">Demandante</label>
                <input
                  formControlName="demandante"
                  type="text"
                  class="form-control"
                  id="demandante"
                  aria-describedby="capital"
                />
              </div>
              <div class="col-6 mb-2">
                <label for="demandado" class="form-label">Demandado</label>
                <input
                  formControlName="demandado"
                  type="text"
                  class="form-control"
                  id="demandado"
                  aria-describedby="capital"
                />
              </div>
              <div class="col-6 mb-2">
                <label for="capital" class="form-label"
                  >Valor capital inicial</label
                >
                <input
                  formControlName="capital"
                  type="number"
                  class="form-control"
                  id="capital"
                  aria-describedby="capital"
                />
              </div>
              <div class="col-3 mt-2">
                <label for="dateBegin" class="mr-3">Inicio</label>
                <app-date-picker
                  (returnDate)="setDateBegin($event)"
                  inputId="dateBegin"
                ></app-date-picker>
              </div>
              <div class="col-3 mt-2">
                <label for="dateEnd" class="mr-3">Final</label>
                <app-date-picker
                  (returnDate)="setDateEnd($event)"
                  inputId="dateEnd"
                ></app-date-picker>
              </div>
              <div class="col-12 mb-2">Seleccione la tasa a aplicar</div>
              <div class="col-12 mb-2">
                <div class="form-check form-check-inline">
                  <input
                    (change)="onItemChange($event)"
                    class="form-check-input"
                    type="radio"
                    name="radioOptionRate"
                    value="BC_MENSUAL"
                  />
                  <label class="form-check-label"
                    >Bancaria corriente mensual</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    (change)="onItemChange($event)"
                    class="form-check-input"
                    type="radio"
                    name="radioOptionRate"
                    value="USURA_MEN"
                  />
                  <label class="form-check-label">Usura mensual</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    (change)="onItemChange($event)"
                    class="form-check-input"
                    type="radio"
                    name="radioOptionRate"
                    value="IPC"
                  />
                  <label class="form-check-label">IPC</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    (change)="onItemChange($event)"
                    class="form-check-input"
                    type="radio"
                    name="radioOptionRate"
                    value="OTRA"
                  />
                  <label class="form-check-label">Otra</label>
                </div>
              </div>
              <div class="col-12 mb-2" *ngIf="showInputOtherRate">
                <label for="nuevaTasa" class="form-label">Valor Tasa</label>
                <input
                  formControlName="nuevaTasa"
                  type="number"
                  class="form-control"
                  id="nuevaTasa"
                  aria-describedby="nuevaTasa"
                />
              </div>
              <div class="col-12 text-center">
                <button
                  (click)="calcular()"
                  type="button"
                  class="btn btn-success"
                >
                  Calcular
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="!showResume" class="col-3">
      <div class="card border-rounded shadow-sm">
        <div class="card-body">
          <p>Abonos del cliente</p>
          <form [formGroup]="abonosForm">
            <div class="row">
              <div class="col-6">
                <label for="dateAbonos" class="mr-3">Selecione fecha</label>
                <app-date-picker
                  #dt1
                  [disabledDates]="invalidDatesAbono"
                  [minDate]="dateMin"
                  [maxDate]="dateMax"
                  (returnDate)="setDateAbonos($event)"
                  inputId="dateAbonos"
                ></app-date-picker>
              </div>
              <div class="form-group col-6">
                <label for="valorAbono">Monto de ingreso</label>
                <input
                  formControlName="abonos"
                  type="number"
                  class="form-control"
                  id="valorAbono"
                  placeholder="Monto"
                />
              </div>
              <div class="col-12 text-right">
                <button
                  (click)="agregarAbonos()"
                  type="button"
                  class="btn btn-success"
                >
                  Agregar
                </button>
              </div>
              <div class="col-12">
                <hr />
              </div>
              <div class="col-12">
                <app-p-table-basic
                  (onDeleteEvent)="deleteItemAbonos($event)"
                  [data]="dataAbonos"
                ></app-p-table-basic>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="!showResume" class="col-3">
      <div class="card border-rounded shadow-sm">
        <div class="card-body">
          <p>Capitalizacion del cliente</p>
          <form [formGroup]="capitalizacionClienteForm">
            <div class="row">
              <div class="col-6">
                <label for="dateCapitalizacion" class="mr-3"
                  >Selecione fecha</label
                >
                <app-date-picker
                  #dt2
                  [disabledDates]="invalidDatesCapi"
                  [minDate]="dateMin"
                  [maxDate]="dateMax"
                  (returnDate)="setDateCapitalizacionCliente($event)"
                  inputId="dateCapitalizacion"
                ></app-date-picker>
              </div>
              <div class="form-group col-6">
                <label for="valorCapitalizacion">Monto de ingreso</label>
                <input
                  formControlName="capitalizacionCliente"
                  type="number"
                  class="form-control"
                  id="valorCapitalizacion"
                  placeholder="Monto"
                />
              </div>
              <div class="col-12 text-right">
                <button
                  (click)="agregarCapitalizacionCliente()"
                  type="button"
                  class="btn btn-success"
                >
                  Agregar
                </button>
              </div>
              <div class="col-12">
                <hr />
              </div>
              <div class="col-12">
                <app-p-table-basic
                  (onDeleteEvent)="deleteItemCapitalizacionCliente($event)"
                  [data]="dataCapitalizacionCliente"
                ></app-p-table-basic>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="!showResume" class="col-12">
      <p>Liquidaciones en lote</p>
      <div class="card border-rounded shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-4 text-center">
              <a
                href="assets/templates/excel/plantilla.xlsx"
                download="plantilla.xlsx"
                class="btn btn-sm btn-success button-a"
              >
                Descargar Plantilla
              </a>
            </div>
            <div class="col-8">
              <p class="text-help-plantilla">
                Recuerde que para realizar la carga masiva de Liquidaciones,
                debes descargar primero la plantilla y contar con la informacion
                organizada de acuerdo al formato
              </p>
            </div>
            <div class="col-12 mb-5">
              <app-drag-drop-file-upload></app-drag-drop-file-upload>
            </div>
            <div class="col-12 text-center">
              <button type="button" class="btn btn-success">Validar</button>
              <button type="button" class="btn btn-success">Calcular</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-resume-liquide
      [showResume]="showResume"
      (showResumeChange)="showResume = false"
    ></app-resume-liquide>
  </div>
</div>
