.rounded-circle {
  border-radius: 50% !important;
}

.img-xs {
  width: 37px;
  height: 37px;
}

.profile {
  color: #a5a5a5;
  p {
    margin: 0px;
    padding: 0px;
  }
}

.container-left {
  height: 63px;
  color: #289d9a;
}
