<nav class="sidebar shadow-lg sidebar-offcanvas">
  <ul class="nav">
    <li class="nav-item border">
      <a routerLink="/dashboard/home" class="nav-link">
        <fa-icon [icon]="faHome" size="lg"></fa-icon>
      </a>
      <p class="text-center">Inicio</p>
    </li>

    <li class="nav-item border">
      <a routerLink="/dashboard/liquidate" class="nav-link">
        <fa-icon [icon]="faCalculator" size="lg"></fa-icon>
      </a>
      <p class="text-center">Liquide</p>
    </li>

    <li class="nav-item border">
      <a routerLink="/dashboard/record" class="nav-link">
        <fa-icon [icon]="faClock" size="lg"></fa-icon>
      </a>
      <p class="text-center">Historial</p>
    </li>
  </ul>
</nav>
