<nav class="sidebar shadow-lg sidebar-offcanvas">
  <ul class="nav">
    <li class="nav-item border">
      <a
        routerLink="/dashboard/home"
        routerLinkActive="active-route"
        class="nav-link"
      >
        <div class="container-menu">
          <fa-icon [icon]="faHome" size="lg"></fa-icon>
          <p>Inicio</p>
        </div>
      </a>
    </li>

    <li class="nav-item border">
      <a
        routerLink="/dashboard/liquidate"
        routerLinkActive="active-route"
        class="nav-link"
      >
        <div class="container-menu">
          <fa-icon [icon]="faCalculator" size="lg"></fa-icon>
          <p>Liquide</p>
        </div>
      </a>
    </li>

    <li class="nav-item border">
      <a
        routerLink="/dashboard/record"
        routerLinkActive="active-route"
        class="nav-link"
      >
        <div class="container-menu">
          <fa-icon [icon]="faClock" size="lg"></fa-icon>
          <p>Historial</p>
        </div>
      </a>
    </li>
  </ul>
</nav>
