/* Sidebar */
.sidebar {
  min-height: calc(100vh - 63px);
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  width: 90px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  -o-transition: width 0.25s ease, background 0.25s ease;
}
.sidebar .nav {
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
}
.sidebar .nav .nav-item .collapse {
  z-index: 999;
}
.sidebar .nav .nav-item .collapse.show,
.sidebar .nav .nav-item .collapsing {
  background: #fafbfc;
}
.sidebar .nav .nav-item .nav-link {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #c0c0c0;
}

.active-route {
  color: #57b2b0 !important;
  border-left: 7px solid #57b2b0 !important;
}

.container-menu {
  padding-top: 20px;
}
