.border-rounded {
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}

::ng-deep .form-check-input:checked {
  background-color: #57b2b0 !important;
}

button {
  background-color: #57b2b0 !important;
  border-color: #57b2b0 !important;
  color: #ffffff !important;
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-right: 10px;
}

.button-a {
  background-color: #57b2b0 !important;
  border-color: #57b2b0 !important;
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-right: 10px;
}

.text-help-plantilla {
  position: relative;
  right: 40px;
  text-align: justify;
  font-size: 0.75rem !important;
}
