@import "~bootstrap/scss/bootstrap";

$primary-color: #129390;
$secondary-color: #06f0eb;
$tertiary-color: #3c3c3b;

fa-icon {
  cursor: pointer;
}

app-dashboard {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 0.85rem !important;
  font-weight: 200;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}

.btn-success {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.btn-success:hover {
  background-color: $primary-color !important;
  border-color: $secondary-color !important;
}

.link-success {
  color: $primary-color !important;
}
.link-success:focus,
.link-success:hover {
  color: $secondary-color !important;
}

.form-check-input:checked {
  background-color: $primary-color !important;
  border-color: $secondary-color !important;
}

.btn-outline-secondary {
  color: $tertiary-color !important;
  border-color: $primary-color !important;
}

.btn-outline-secondary:hover {
  color: #ffffff !important;
  background-color: $primary-color !important;
  border-color: $secondary-color !important;
}

.btn-outline-success {
  color: $tertiary-color !important;
  border-color: $primary-color !important;
}

.btn-outline-success:hover {
  color: #ffffff !important;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.form-control:focus {
  border-color: $primary-color !important;
  box-shadow: 0 0 0 0.25rem rgb(18 147 144 / 25%) !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(18 147 144 / 25%) !important;
}

.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgb(18 147 144 / 25%) !important;
}

select option:checked {
  background-color: $primary-color !important;
  color: #ffffff !important;
}
