fa-icon {
  color: #57b2b0;
}

.porcentaje {
  color: #57b2b0;
}

.border-rounded {
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}
