<p-table [value]="data" styleClass="p-datatable-sm">
  <ng-template pTemplate="header">
    <tr>
      <th>Fecha</th>
      <th>Monto</th>
      <th style="width: 3rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-value>
    <tr>
      <td>{{ value.fecha }}</td>
      <td>{{ value.monto | currency }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          (click)="onDelete(value)"
          class="p-button-rounded p-button-danger mr-2"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
