$primary: #32a19f;
$secondary: #7ff4f1;
$third: #00d8ff;
$white: #ffffff;
$background: #129390;
$background-secondary: #3c3c3b;

fa-icon {
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

nav {
  img {
    width: 9%;
  }
}

nav {
  form {
    button {
      cursor: pointer;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      margin-right: 10px;
    }
  }
}

.vertical-center {
  min-height: 50%; /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.text-color-primary {
  color: $primary;
}

.intro {
  margin-left: 1rem;
}

.margin-left {
  margin-left: 3rem;
}

.margin-left-1 {
  margin-left: 1rem;
}

.text-color-white {
  color: $white;
}

.container-green {
  background-color: $background;
}

.container-green::after {
  content: "";
  background-color: $background;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  -moz-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  -o-transform: skewY(-8deg);
}

.text-justify {
  text-align: justify;
}

.container-radio {
  background-color: $secondary;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.button-radius {
  border-radius: 25px;
}

.color-third {
  color: $third;
}

.background-dark {
  background-color: $background-secondary;
}

.btn-outline-dark {
  background-color: #ffffff;
}

.background-blue {
  background-color: $secondary;
}

.container_header_questions {
  color: #ffffff;
  background-color: $background;
}

.footer {
  background-color: $background-secondary;
  color: #ffffff;
  p {
    margin: 0;
  }
  .icon-radius {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    background-color: #ffffff;
    img {
      width: 25px;
      cursor: pointer;
    }
  }
}

.box-prices {
  max-height: 444.188px;
  height: 444.188px;
}

.container-hand {
  position: relative;
}

.img-hand {
  position: absolute;
  top: -15px;
  left: -250px;
}

.box-contact-us {
  height: 550px;
}

.box-form-contact-us {
  position: relative;
}

.container-form-contact-us {
  position: absolute;
  height: 600px;
  width: 400px;
  top: -50px;
  left: 0;
}
