<nav class="navbar navbar-expand-lg">
  <div class="container">
    <img
      class="d-inline-block align-top"
      src="../assets/images/liquidando2.png"
      alt="liquidando logo"
    />
  </div>

  <form class="form-inline">
    <button
      class="btn btn-sm btn-outline-secondary"
      (click)="onDisplayLogin()"
      type="button"
    >
      Login
    </button>
    <button
      class="btn btn-outline-success"
      type="button"
      (click)="displayModalRegister = !displayModalRegister"
    >
      Registro
    </button>
  </form>
</nav>

<section class="container">
  <div class="row">
    <div class="col-6 vertical-center">
      <div>
        <h2>Usted litiga,</h2>
        <h2 class="h3">Nosotros Liquidamos</h2>
        <p>La mejor herramienta para realizar sus liquidaciones</p>
      </div>
    </div>
    <div class="col-6 vertical-center">
      <img width="100%" src="../assets/images/landing1.svg" alt="" />
    </div>
    <div class="col-12 text-center">
      <fa-icon [icon]="faArrowCircleDown" size="lg"></fa-icon>
      <hr />
    </div>
    <div class="col-12 text-center">
      <h3 class="text-color-primary">Liquide en tres sencillos pasos</h3>
      <div class="d-flex justify-content-center">
        <fa-icon [icon]="faPlayCircle" size="lg"></fa-icon>
        <p class="intro">Intro & Demo</p>
      </div>
    </div>
    <div class="col-6 mt-5">
      <img width="100%" src="../assets/images/landing2.svg" alt="" />
    </div>
    <div class="col-6 mt-5">
      <div class="row">
        <div class="col-12 mb-5">
          <div class="card shadow-sm">
            <div class="card-body">
              <section class="d-flex">
                <img
                  class="icon"
                  src="../assets/images/ingrese.svg"
                  width="50px"
                  alt="ingrese"
                />
                <div>
                  <h5>Ingrese la informacion del proceso</h5>
                  <p>
                    Ingrese solo la informacion necesaria para calcular su
                    proceso
                  </p>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="col-12 mb-5 margin-left">
          <div class="card shadow-sm">
            <div class="card-body">
              <section class="d-flex">
                <img
                  class="icon"
                  src="../assets/images/valide.svg"
                  width="50px"
                  alt="valide"
                />
                <div>
                  <h5>Valide y Calcule</h5>
                  <p>Valide la informacion cargada y calcule el proceso</p>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="col-12 mb-5">
          <div class="card shadow-sm">
            <div class="card-body">
              <section class="d-flex">
                <img
                  class="icon"
                  src="../assets/images/descargue.svg"
                  width="50px"
                  alt="descargue"
                />
                <div>
                  <h5>Descargue</h5>
                  <p>
                    Usted puede descargar la informacion en formato PDF o Excel
                  </p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-5">
      <hr />
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-12 text-center container-green mb-5">
      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <h3 class="text-color-white">Realmente es muy facil !!</h3>
        </div>
        <div class="col-6 d-flex mb-5">
          <fa-icon
            class="margin-left"
            [border]="true"
            [icon]="faLaughs"
            size="8x"
            [styles]="{ stroke: 'white', color: 'white' }"
          ></fa-icon>
          <section class="margin-left">
            <p class="text-color-white text-justify">
              Liquidando es la plataforma ideal para realizar las liquidaciones
              de sus procesos legales.
            </p>
            <p class="text-color-white text-justify">
              Con liquidando puede realizar el calculo de los intereses
              moratorios de acuerdo a las tasas de interes establecidas por la
              ley o por aquellas previamente pactadas por las partes.
            </p>
            <p class="text-color-white text-justify">
              Descargue resultados precisos, claros e identificados mes a mes,
              haciendo uso de tasas fijas, de usura y actualizaciones a IPC.
            </p>
          </section>
        </div>
        <div class="col-6 mb-5">
          <img src="../assets/images/Inicio.png" width="80%" alt="Inicio" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-6">
      <img
        src="../assets/images/Computador estadisticas.svg"
        width="100%"
        alt="Estadistica"
      />
    </div>
    <div class="col-6 mb-5">
      <div class="row">
        <div class="col-12">
          <h3>Beneficios de usar liquidando</h3>
        </div>
        <div class="col-12 d-flex">
          <div class="container-radio">
            <img src="../assets/images/ahorre.svg" width="60px" alt="Tiempo" />
          </div>
          <div class="margin-left-1">
            <h5>Ahorre tiempo</h5>
            <p>
              Realice la liquidacion de pretensiones e intereses de sus procesos
              de forma rapida, facil y eficiente.
            </p>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="container-radio">
            <img
              src="../assets/images/Eficiencia.svg"
              width="60px"
              alt="Eficiencia"
            />
          </div>
          <div class="margin-left-1">
            <h5>Eficiencia</h5>
            <p>
              Evita la devolucion de sus liquidaciones. Calculamos las tasas
              efectivas anuales a mensaueles de la forma correcta.
            </p>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="container-radio">
            <img
              src="../assets/images/seguridad.svg"
              width="60px"
              alt="seguridad"
            />
          </div>
          <div class="margin-left-1">
            <h5>Seguridad de la informacion</h5>
            <p>
              Mantenga total confidencialidad de la informacion de sus procesos.
            </p>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="container-radio">
            <img
              src="../assets/images/todas-las-tasas.svg"
              width="60px"
              alt="Tasas"
            />
          </div>
          <div class="margin-left-1">
            <h5>Todas las Tasas</h5>
            <p>
              Utilice la tasa de intereses que necesite Tasa de Usura. Tasa
              previamente pactada. Interes Bancario Corriente. Actualizacion a
              IPC.
            </p>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="container-radio">
            <img
              src="../assets/images/formato uniforme.svg"
              width="60px"
              alt="Formato uniforme"
            />
          </div>
          <div class="margin-left-1">
            <h5>Formato informe</h5>
            <p>
              Genere su reporte en el formato que desee, ya sea Excel o PDF.
            </p>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="container-radio">
            <img
              src="../assets/images/comodidad.svg"
              width="60px"
              alt="Comodidad"
            />
          </div>
          <div class="margin-left-1">
            <h5>Comodidad</h5>
            <p>
              Realice su liquidacion en cualquier lugar con una conexion a
              internet desde su PC o telefono inteligente.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center mb-5">
      <h3 class="text-color-primary">Precios</h3>
      <p>Conozca nuestros precios para firmas::contactanos</p>
    </div>
    <div class="col-12 mb-5">
      <div class="row">
        <div class="col-4">
          <div class="card shadow-sm">
            <div class="card-body text-center box-prices">
              <img
                src="../assets/images/gratis.svg"
                width="100px"
                alt="gratis"
              />
              <h3>Gratis</h3>
              <p class="display-4">$0</p>
              <p class="mb-5">1 - Liquidacion</p>
              <p class="mb-5">
                Quieres conocer la herramienta y calcular de manera precisa tus
                procesos... Dale!! Es gratis
              </p>
              <button
                class="btn btn-outline-success button-radius"
                type="button"
              >
                Probrar
              </button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card shadow-sm">
            <div class="card-body text-center box-prices">
              <img
                src="../assets/images/básico.svg"
                width="100px"
                alt="Basico"
              />
              <h3>Basico</h3>
              <p class="display-4">$11.900</p>
              <p class="mb-5">10 - Liquidaciones</p>
              <p class="mb-5">
                Plan diseñado para personas que requieren de liquidaciones
                ocasionales
              </p>
              <button
                class="btn btn-outline-success button-radius"
                type="button"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card shadow-sm">
            <div
              class="card-body background-dark text-center text-white box-prices"
            >
              <img
                src="../assets/images/avanzado.svg"
                width="100px"
                alt="Avanzado"
              />
              <h3 class="color-third">Avanzado</h3>
              <p class="display-4">$320.000</p>
              <p class="mb-5">Liquidaciones ilimitadas / mes</p>
              <p class="mb-4">
                Posees cantidad de procesos y requieres una plataforma que te
                ayude a calcular el costo de estos?? Este es tu plan
              </p>
              <button class="button-radius btn btn-outline-dark" type="button">
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-12 background-blue mt-5 mb-5 p-3 box-contact-us">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-6 text-center mt-5">
              <p class="mb-5">
                Escribanos y conoce todas las ventajas de liquidando.
              </p>
              <p>Soporte@liquidando.com.co</p>
              <p>Whatsapp: 3144668822</p>
            </div>
            <div class="col-6 text-center">
              <div class="container-hand">
                <img
                  class="img-hand"
                  src="../assets/images/Mano.svg"
                  alt="Mano"
                  width="814"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 box-form-contact-us">
          <div class="card container-form-contact-us">
            <div class="card-body body-form-contact-us">
              <h4 class="text-center mb-3 text-color-primary">Contactenos</h4>
              <form>
                <div class="form-group mb-3">
                  <label for="nombre">Nombre</label>
                  <input
                    type="text"
                    id="nombre"
                    class="form-control"
                    aria-describedby="Nombre contactanos"
                  />
                </div>
                <div class="form-group mb-3">
                  <label>Email</label>
                  <input
                    type="text"
                    class="form-control"
                    aria-describedby="Email contactanos"
                  />
                </div>
                <div class="form-group mb-3">
                  <label>Asunto</label>
                  <input
                    type="text"
                    class="form-control"
                    aria-describedby="Asunto contactanos"
                  />
                </div>
                <div class="form-group mb-3">
                  <label>Mensaje</label>
                  <textarea class="form-control" rows="6"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                  <button
                    type="submit"
                    class="btn btn-outline-success button-radius mb-3"
                  >
                    Enviar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-12 mb-5 text-center">
      <h3 class="text-color-primary">Preguntas frecuentes</h3>
      <p>Dudas? Resuelvelas rapido consultando nuestra guia</p>
    </div>
    <div class="col-6 mb-5">
      <app-question></app-question>
    </div>
    <div class="col-6 mb-5">
      <div class="text-end">
        <img
          src="../assets/images/whatsapp-svgrepo-com.svg"
          width="100px"
          alt="whatsapp"
        />
      </div>
    </div>
  </div>
</section>

<section class="footer container-fluid col-12 mt-5">
  <div class="row">
    <div class="col-4 order-first">
      <div class="w-100"></div>
    </div>
    <div class="col-4 order-4 text-center">
      <p>Liquidando, inc Bogota, Colombia</p>
      <p>soporte@liquidando.com.co</p>
      <p>Whatsapp: 3144668822</p>
    </div>
    <div class="col-4 order-last d-flex align-items-center justify-content-end">
      <div class="icon-radius">
        <img src="../assets/images/facebook-svgrepo-com.svg" alt="facebook" />
      </div>
      <div class="icon-radius">
        <img src="../assets/images/twitter-svgrepo-com.svg" alt="twitter" />
      </div>
      <div class="icon-radius">
        <img src="../assets/images/instagram-svgrepo-com.svg" alt="instagram" />
      </div>
      <div class="icon-radius">
        <img src="../assets/images/linkedin-svgrepo-com.svg" alt="linkedin" />
      </div>
    </div>
  </div>
</section>

<app-login
  [displayModalLogin]="displayModalLogin"
  [showForgetPass]="showForgetPass"
></app-login>
<app-register [displayModalRegister]="displayModalRegister"></app-register>
