<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>Inicio</h5>
      <hr />
    </div>
    <div class="col-6">
      <p>Liquidacion rapida</p>
      <div class="row">
        <div class="col-12">
          <div class="card border-rounded shadow-sm">
            <div class="card-body">
              <app-time-line></app-time-line>
              <app-steps-liquide></app-steps-liquide>
              <app-steps-buttons></app-steps-buttons>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <p>Indicadores</p>
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-4">
      <p>Noticias de interes</p>
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
  </div>
</div>
