<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>Inicio</h5>
      <hr />
    </div>
    <div class="col-6">
      <p>Liquidacion rapida</p>
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card border-rounded shadow-sm">
            <div class="card-body">
              <app-time-line></app-time-line>
              <app-steps-liquide></app-steps-liquide>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card border-rounded shadow-sm">
            <div class="card-body">
              <app-p-chart-line></app-p-chart-line>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card border-rounded shadow-sm">
            <div class="card-body">
              <app-p-chart-line></app-p-chart-line>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <p>Indicadores</p>
      <div class="row">
        <div class="col-6 mb-3">
          <app-indicator></app-indicator>
        </div>
        <div class="col-6 mb-3">
          <app-indicator></app-indicator>
        </div>
        <div class="col-6 mb-3">
          <app-indicator></app-indicator>
        </div>
        <div class="col-6 mb-3">
          <app-indicator></app-indicator>
        </div>
        <div class="col-6 mb-3">
          <app-indicator></app-indicator>
        </div>
      </div>
    </div>
    <div class="col-3">
      <p>Noticias de interes</p>
      <div class="row">
        <div class="col-12 mb-3">
          <app-news></app-news>
        </div>
        <div class="col-12 mb-3">
          <app-news></app-news>
        </div>
      </div>
    </div>
  </div>
</div>
