<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5>Inicio</h5>
      <hr />
    </div>
    <div class="col-6" *ngIf="!showResume">
      <p>Liquidacion rapida</p>
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card border-rounded shadow-sm">
            <div class="card-body">
              <app-time-line></app-time-line>
              <app-steps-liquide></app-steps-liquide>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card border-rounded shadow-sm">
            <div class="card-body">
              <app-p-chart-line></app-p-chart-line>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card border-rounded shadow-sm">
            <div class="card-body">
              <app-p-chart-line></app-p-chart-line>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" *ngIf="!showResume">
      <p>Indicadores</p>
      <div class="row">
        <div *ngFor="let tasa of dataTasas" class="col-6 mb-3">
          <app-indicator [value]="tasa"></app-indicator>
        </div>
      </div>
    </div>
    <app-resume-liquide
      [showResume]="showResume"
      (showResumeChange)="showResume = false"
    ></app-resume-liquide>
  </div>
</div>
